<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO: Signup</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <% if (messages && messages.errors) { %>
        <% messages.errors.forEach(el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>
    <form class="signup-form" action="/signup" method="POST" novalidate>
        <h1>Signup</h1>
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input class="btn" type="submit">
    </form>

    <!-- JS to autohide error messages -->
    <script src="/js/autoHideMessages.js"></script>
</body>
</html>